:root {
    /* hover main */
    --generic-hover: #f0f1f1;
    /* Color de fondo pricipal*/
    --main-bg-color: #FFF;
    /* Texto general */
    --txt-color: #1f1f1f;
    /* Color de los iconoes SVG */
    --svg-color: #444746;

    /* Botones */
    --txt-btn-color: #3c4043;

    --bg-bt-color: #f8f9fa;
    --btn-border-color: #dadce0;

    /* Color del footer */
    --footer-bg-color: #f2f2f2;
    --footer-dash-color: #dadce0;

    /* Searchbar */
    --srch-bar-txt-color: #000;
    --srch-bar-color: #FFF;
    --srch-bar-border-color: #dfe1e5;
    --srch-bar-hov-border-color: #FFF;
    --srch-bar-srch-icon: #9aa0a6;
    --srch-bar-icons: #474747;

    /* Fuente principal */
    --main-font-family: 'Roboto', sans-serif;
}

/* Modo oscuro */
@media(prefers-color-scheme:  dark) {
    :root {
        /* hover main */
        --generic-hover: #222429;
        /* Color de fondo pricipal*/
        --main-bg-color: #101218;
        /* Texto general */
        --txt-color: #fff;
        /* Color de los iconoes SVG */
        --svg-color: #eee;

        /* Botones */
        --txt-btn-color: #FFF;

        --bg-bt-color: #3f4454;
        --btn-border-color: #5f6368;

        /* Color del footer */
        --footer-bg-color: #1f2128;
        --footer-dash-color: #292c32;

        /* Searchbar */
        --srch-bar-txt-color: #FFF;
        --srch-bar-color: #3f4454;
        --srch-bar-border-color: #3f4454;
        --srch-bar-hov-border-color: #3f4454;
        --srch-bar-icons: #cdcdcd;
    }
    
    .searchBar:hover {
        background-color: #4d5160;
    }

    .googleLogo path {
        fill: white;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
    font-size: 1.4rem;
    background-color: var(--main-bg-color);
}

.body__container {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    min-height: 56.8rem;
}

svg {
    color: var(--svg-color);
}

/* Alineamos los elementos del header al centro */
.top__experiments, .top__products, .top__user {
    align-content: center;
}

/* --------- */
/*  HEADER   */
/* --------- */
.header {
    width: 100%;
    height: 10%;
}
.header__top {
    font-size: 1.4rem;
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1rem;
    gap: 1.5rem;
}

/* Enlaces Gmail e Imagenes */
.top__text {
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: 1.5rem;
    margin-right: 0.2rem;
}

.top__text a {
    color: var(--txt-color);
    text-decoration: none;
}

.top__text a:hover {
    text-decoration: underline;
}

/* Boton de experimentos */
.top__experiments {
    margin-right: 0.5rem;
}

/* Imagen del usuario */
.top__user img {
    display: flex;
    border-radius: 5rem;
}
.generic--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 5rem;
    transition: background-color 0.3s;
}
.generic--hover:hover {
    background-color: var(--generic-hover);
}

/* --------- */
/*    MAIN   */
/* --------- */
.main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 70%;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 2rem;
    width: 100%;
    height: 40%;
}

/* Barra de busqueda */

.container__searchbar {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 100%;
    height: 60%;
}

.searchBar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 48px;
    border-radius: 5rem;
    max-width: 584px;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border: 1px solid var(--srch-bar-border-color);
    background-color: var(--srch-bar-color);
    transition: background-color 0.3s ease;
}
.searchBar:hover {
    border-color: var(--srch-bar-hov-border-color);
}

#searchBar {
    height: 48px;
    font-size: 1.4rem;
    width: 90%;
    margin-left: 1rem;
    word-wrap: break-word;
    background: none;
    border: none;
    color: var(--srch-bar-txt-color);
}

#searchBar:focus {
    outline: none;
}

.otherIcons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: safe;
    margin-right: 1rem;
    gap: 1.5rem;
    width: 15%;
    height: 100%;
}
.searchIcon {
    margin-top: 0.5rem;
    margin-left: 2rem;
    justify-content: center;
    align-content: center;
}
.searchIcon svg {
    width: 100%;
    fill: var(--srch-bar-srch-icon);
}

.voiceIcon svg, .lensIcon svg {
    fill: var(--srch-bar-icons);
}

.searchIcon, .voiceIcon, .lensIcon {
    width: 24px;
}

/*  Botones */
.searchBar__buttons {
    width: 100%;
    height: 75%;
}

.searchBar__buttons button {
    font-size: 14px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    color: var(--txt-btn-color);
    background-color: var(--bg-bt-color);
    border: 1px solid var(--bg-bt-color);
}

.searchBar__buttons button:hover {
    cursor: pointer;
    border: 1px solid var(--btn-border-color);
}
/* Footer */

.footer {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 20%;
}

.footer__container {
    width: 100%;
    background-color: var(--footer-bg-color);
}

.footer__country  {
    padding: 1.5rem 3rem;
    border-bottom: 1px solid var(--footer-dash-color);
    color: var(--txt-color);
    font-size: 15px;
    margin: 0 0 2rem 0;
}

.footer__about {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: 0rem 4rem 1.5rem 4rem;
    padding-top: 0;
    justify-content: space-around;
}

.about__leftside {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}
.about__rightside {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 2.5rem;
    justify-content: center;
}
.footer__about a , .footer__about p {
    margin: 0;
    color: var(--txt-color);
    text-decoration: none;
}

.footer__about a:hover, .footer__about p:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media (min-width: 768px) {
    .about__leftside {
        width: 50%;
    }
    .about__rightside {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .about__leftside, .about__rightside {
        justify-content: stretch;
    }
    .footer__about {
        justify-content: space-between;
    }

    .about__rightside {
        justify-content: end;
    }
}